

.Navbar{
  display: flex;
  justify-content: left;
  text-align: left; 
  background-color: green;
  height: 100%;
}

h2{
   
  font-style: italic;
  color: white;
}

div{
  display: flex;
  justify-content: center;
}
.saumya{
  display: flex;
  justify-content: center;
  text-align: center; 
  width: 200px; 
  margin: 25px;
  padding: 5px;
  padding-left: 25px;
  border-radius: 20px;
  background-color: green;
  border-color:black;
  font-size: 10px;

}button {
  display:flex ;
  justify-content: center;
  align-self: center;
  background-color: greenyellow;
  border: none;
  border-radius: 20px;
  padding: 15px 32px;
  margin-top: 100px;
  margin-right: 60px;
}

 

.shivani{

    display: flex;
    justify-content: center;
    text-align: center; 
    width: 200px; 
    margin: 25px;
    padding: 5px;
    padding-left: 25px;
    border-radius: 20px;
    background-color: green;
    border: black;
    font-size: 10px;
  
}

  
  .seema{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px; 
    margin: 25px;
    padding: 5px;
    padding-left: 25px;
    border-radius: 20px;
    background-color: green;
    border: black;
    font-size: 10px;
  }
 
  
  .shivam{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px; 
    margin: 25px;
    padding: 5px;
    padding-left: 25px;
    border-radius: 20px;
    background-color: green;
    border: black;
    font-size: 10px;

  }
 
  
div{
  display: flex;
  justify-content: center;
}
  .company{
    display: flex;
    justify-content: centre;
    text-align: centre; 
    width: 200px; 
    margin: 25px;
    padding: 5px;
    padding-left: 30px;
    border-radius: 20px;
    background-color: green;
    border-color:black;
    font-size: 10px;
  }

  .company h1{
    padding-left: 50px;
    padding-bottom: 50px;
  }

    
  .companyone{
    display: flex;
    justify-content: center;
    text-align: center; 
    width: 200px; 
    margin: 25px;
    padding: 5px;
    padding-left: 25px;
    border-radius: 20px;
    background-color: green;
    border-color:black;
    font-size: 10px;
  }

  .companyone h1{
    padding-left: 50px;
    padding-bottom: 50px;
  }

 
  .companytwo{
    display: flex;
    justify-content: center;
    text-align: center; 
    width: 200px; 
    margin: 25px;
    padding: 5px;
    padding-left: 25px;
    border-radius: 20px;
    background-color: green;
    border-color:black;
    font-size: 10px;
  }

  .companytwo h1{
    padding-left: 50px;
    padding-bottom: 50px;
  }

  
  .companythree{
    display: flex;
    justify-content: center;
    text-align: center; 
    width: 200px; 
    margin: 25px;
    padding: 5px;
    padding-left: 25px;
    border-radius: 20px;
    background-color: green;
    border-color:black;
    font-size: 10px;
  }
  
  
    
  div{
    display: flex;
    justify-content: center;
  }
  .companyfive{
    display: flex;
    justify-content: center;
    text-align: center; 
    width: 200px; 
    margin: 25px;
    padding: 5px;
    padding-left: 25px;
    border-radius: 20px;
    background-color: green;
    border-color:black;
    font-size: 10px;
  }
 
  .companysix{
    display: flex;
    justify-content: center;
    text-align: center; 
    width: 200px; 
    margin: 25px;
    padding: 5px;
    padding-left: 25px;
    border-radius: 20px;
    background-color: green;
    border-color:black;
    font-size: 10px;
  }

  .companysix h1{
    padding-left: 50px;
    padding-bottom: 50px;
  }

 
  .companyseven{
    display: flex;
    justify-content: center;
    width: 200px; 
    margin: 25px;
    padding: 5px;
    padding-left: 25px;
    border-radius: 20px;
    background-color: green;
    border-color:black;
    font-size: 10px;
  }

  .companyseven h1{
    padding-left: 50px;
    padding-bottom: 50px;
  }

  
  .companyeight{
    display: flex;
    justify-content: center;
    text-align: center; 
    width: 200px; 
    margin: 25px;
    padding: 5px;
    padding-left: 25px;
    border-radius: 20px;
    background-color: green;
    border-color:black;
    font-size: 10px;
  }

  .companyeight h1{
    padding-left: 50px;
    padding-bottom: 50px;
  }

  
  
  div{
    display: flex;
    justify-content: center;
  }
  .pragya{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px; 
    margin: 25px;
    padding: 5px;
    padding-left: 25px;
    border-radius: 20px;
    background-color: green;
    border: black;
    font-size: 10px;

  }

  .pragya h1{
    padding-left: 50px;
    padding-bottom: 50px;
  }

 
.companyfour{
  display: flex;
  justify-content: center;
  text-align: center; 
  width: 200px; 
  margin: 25px;
  padding: 5px;
  padding-left: 25px;
  border-radius: 20px;
  background-color: green;
  border-color:black;
  font-size: 10px;
}

.companyfour h1{
  padding-left: 50px;
  padding-bottom: 50px;
}


.companynine{
  display: flex;
  justify-content: center;
  text-align: center; 
  width: 200px; 
  margin: 25px;
  padding: 5px;
  padding-left: 25px;
  border-radius: 20px;
  background-color: green;
  border-color:black;
  font-size: 10px;
}

.companyten{
  display: flex;
  justify-content: center;
  text-align: center; 
  width: 200px; 
  margin: 25px;
  padding: 5px;
  padding-left: 25px;
  border-radius: 20px;
  background-color:green;
  border-color:black;
  font-size: 10px;
  image-resolution: 10px;
}

.companyten
 h1{
  padding-left: 50px;
  padding-bottom: 50px;
}
