/* Global css */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Pacifico&family=Roboto:ital,wght@0,400;1,300;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
body{
    background-color: #f3f7f7;
    height: 100%;
    width: 100%;
}

/* home css */
nav{
    background-color: #1c095c;
}
.navbar-brand{
    color: #ffffff;
    font-family: Caveat;
    font-weight: 700;
    font-size: 29px;
}
.nav-link{
    color: #ffffff;
    font-family:Roboto,sans-serif;
    font-weight: 600;
}
.cardd{
    padding-top: 50px;
     display: flex; 
    align-items: center;
    justify-content: center;
}

.card1{
    margin-top: 10rem;
    margin-right: 30px;
    margin-left: 30px;
}
.home-btn{
    background-color: #1c095c;
    color: #ffffff;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit ;
   
}


/* cp Tracker css */
.card-img-top{
    width: 200px;
    height:200px;
    border-radius:50%;
    padding: 20px 20px 20px 20px;
}
.card-site{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(116, 211, 92);
}
.cp-btn:hover{
    background-color: rgb(11, 11, 146);
}
.site-container{
    margin-top: 85px;
}


/* dynamic content cp traker page */

.site-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 40px;
    font-size: 50px;
    font-weight: 600px;
    color: #f3f7f7;
}
.site-btn{
    margin-left: 3px;
    padding: 10px 93px 10px 93px;
    background: #3d5252;
}
.site-btn:hover{
    background-color: #dfec20;
    color: black;
}
.cp-click-link:hover{
    color: black;
}
.cp-click-link{
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.site-body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.siteBodyChild{
    background: #1ba94c;
}

/* Dynamic content feteching cards  */

.content-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    margin-top: 10px;
}
.cp-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin: 0px 0px 0px 0px;
    color: #ffffff;
}
.visit-btn{
    background-color: crimson;
    /* margin-top: 2px; */
    margin-bottom: 8px;
}
.visit-btn:hover{
    background: rgb(240, 92, 92);
}

.contentBodyChild{
    background: #92928e;
}
.cp-click-link, .cp-click-linka:hover, .cp-click-link:focus, .cp-click-link:active {
    text-decoration: none;
    color: inherit ;
}
.contest-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.all-name{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    margin-bottom:15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.breadcrumb{
    padding-top: 10px;
    margin-bottom:10px;
    margin-left: 25px;
}

/* job portal */
.site-job-cont{
    margin-top: 10px;
}